################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XSOverlay-VRChat-Status/.vs/XSOverlay-VRChat-Status
